<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tech.datingapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:roundIcon="@drawable/app_logo"
        android:label="Secure Dating"
        android:usesCleartextTraffic="true" 
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        
        <!-- Yaha nayi ProfileActivity ko add kar diya gaya hai -->
        <activity android:name=".HomeActivity" />
        <activity android:name=".ChatroomActivity" />
        <activity android:name=".TermsActivity" />
        <activity android:name=".ProfileActivity" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
